<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Список продуктов</title>
</head>
<body>
<h1>Список категорий</h1>
<form action="/categories/add" method="post">
  <input type="text" name="Name" placeholder="Имя" required>
  <input type="text" name="Description" placeholder="Описание" required>
  <button type="submit" formmethod="post">Добавить</button>
</form>

<h2>Все категории: </h2>
<ul>
  <th:block th:each="category : ${categories}">
    <li>
      <span th:text="${category.id} + ' ' + ${category.Name} + ' ' + ${category.Description}"></span>
      <form action="/categories/update" method="post" style="display:inline;">
        <input type="hidden" name="id" th:value="${category.id}">
        <input type="text" name="Name" th:value="${category.Name}" placeholder="Имя" required>
        <input type="text" name="Description" th:value="${category.Description}" placeholder="Описание" required>
        <button type="submit" formmethod="post">Обновить</button>
      </form>
      <form action="/categories/delete" method="post" style="display:inline;">
        <input type="hidden" name="id" th:value="${category.id}">
        <button type="submit" formmethod="post">Удалить</button>
      </form>
    </li>
  </th:block>
</ul>
</body>
</html>