<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/convert" method="post">
    <input type="number" name="value1" placeholder="kffkkfkf" required>
    <select name="currency">
        <option value="₽">₽</option>
        <option value="$">$</option>
        <option value="₩">₩</option>
        <option value="¥">¥</option>
    </select>
    <select name="currency2">
        <option value="₽">₽</option>
        <option value="$">$</option>
        <option value="₩">₩</option>
        <option value="¥">¥</option>
    </select>
    <input type="submit" formmethod="post" value="jfjgfjfjf">
</form>
</body>
</html>