<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Редактирование категории</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div th:insert="blocks/ClioHeader"></div>
<div class="container mt-5">
  <h1>Редактирование категории</h1>
  <form action="/categories/update" method="post" th:object="${category}">
    <input type="hidden" name="id" th:value="${category.id}">
    <div class="form-group">
      <input type="text" class="form-control" name="name" placeholder="Название категории" th:field="*{name}" required>
      <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="text-danger">Название не должно быть меньше чем 3 символа</div>
    </div>
    <div class="form-group">
      <input type="text" class="form-control" name="description" placeholder="Описание категории" th:field="*{description}" required>
      <div th:if="${#fields.hasErrors('description')}" th:errors="*{description}" class="text-danger">Описание не должно быть меньше чем 3 символа</div>
    </div>
    <button type="submit" class="btn btn-primary">Обновить категорию</button>
    <a href="/categories/all" class="btn btn-secondary">Назад</a>
  </form>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
