<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Редактирование поставщика</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div th:insert="blocks/header"></div>
<div class="container mt-5">
  <h1>Редактирование поставщика</h1>
  <form action="/suppliers/update" method="post" th:object="${supplier}">
    <input type="hidden" name="id" th:value="${supplier.id}">
    <div class="form-group">
      <input type="text" class="form-control" name="name" placeholder="Имя поставщика" th:field="*{name}" required>
      <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="text-danger">Имя не менее 3 символов</div>
    </div>
    <div class="form-group">
      <input type="text" class="form-control" name="contactInfo" placeholder="Контактная информация" th:field="*{contactInfo}" required>
      <div th:if="${#fields.hasErrors('contactInfo')}" th:errors="*{contactInfo}" class="text-danger">Контактная информация не менее 10 символов</div>
    </div>
    <div class="form-group">
      <input type="text" class="form-control" name="address" placeholder="Адрес" th:field="*{address}" required>
      <div th:if="${#fields.hasErrors('address')}" th:errors="*{address}" class="text-danger">Адрес не менее 5 символов</div>
    </div>
    <button type="submit" class="btn btn-primary">Обновить поставщика</button>
    <a href="/suppliers/all" class="btn btn-secondary">Назад</a>
  </form>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
