<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Product List</title>
  <link rel="stylesheet" href="/css/styles.css"> <!-- Стили -->
</head>
<body>
<h1>Products</h1>

<!-- Форма добавления или редактирования продукта -->
<form th:action="@{/products/add}" th:object="${product}" method="post">
  <input type="hidden" th:field="*{id}" />

  <label for="name">Name:</label>
  <input type="text" id="name" th:field="*{name}" />
  <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>

  <label for="price">Price:</label>
  <input type="number" step="0.01" id="price" th:field="*{price}" />
  <span th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></span>

  <label for="quantity">Quantity:</label>
  <input type="number" id="quantity" th:field="*{quantity}" />
  <span th:if="${#fields.hasErrors('quantity')}" th:errors="*{quantity}"></span>

  <label for="dateorder">Date:</label>
  <input type="date" id="dateorder" th:field="*{dateorder}" />
  <span th:if="${#fields.hasErrors('dateorder')}" th:errors="*{dateorder}"></span>

  <!-- Категории -->
  <label for="category">Category:</label>
  <select id="category" th:field="*{category.id}">
    <option th:each="category : ${categories}"
            th:value="${category.id}"
            th:text="${category.name}">
    </option>
  </select>

  <!-- Бренды -->
  <label for="brand">Brand:</label>
  <select id="brand" th:field="*{brand.id}">
    <option th:each="brand : ${brands}"
            th:value="${brand.id}"
            th:text="${brand.name}">
    </option>
  </select>

  <!-- Теги -->
  <label for="tags">Tags:</label>
  <select multiple id="tags" th:field="*{tags}">
    <option th:each="tag : ${tags}"
            th:value="${tag.id}"
            th:text="${tag.name}">
    </option>
  </select>

  <button type="submit">Save Product</button>
</form>

<!-- Список продуктов -->
<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Price</th>
    <th>Quantity</th>
    <th>Category</th>
    <th>Brand</th>
    <th>Tags</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="product : ${products}">
    <td th:text="${product.name}"></td>
    <td th:text="${product.price}"></td>
    <td th:text="${product.quantity}"></td>
    <td th:text="${product.category.name}"></td>
    <td th:text="${product.brand.name}"></td>
    <td>
      <span th:each="tag : ${product.tags}" th:text="${tag.name} + ' '"></span>
    </td>
    <td>
      <!-- Кнопки для редактирования и удаления -->
      <a th:href="@{/products/all/{id}(id=${product.id})}">Edit</a>
      <form th:action="@{/products/delete}" method="post" style="display:inline">
        <input type="hidden" th:value="${product.id}" name="id"/>
        <button type="submit">Delete</button>
      </form>
    </td>
  </tr>
  </tbody>
</table>
</body>
</html>
