<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/springsecurity5">
<head>
  <meta charset="UTF-8">
  <title>Список продуктов</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body style="
background: rgb(208,234,235);
background: linear-gradient(145deg, rgba(208,234,235,1) 21%, rgba(0,212,255,1) 100%);
">

<div th:if="${message}">
  <div class="alert alert-danger" role="alert">
    <p th:text="${message}"></p>
  </div>
</div>
<div class="container">
  <div th:insert="blocks/ClioHeader"></div>
  <h1 class="mt-5">Список продуктов</h1>


  <form th:action="@{/products/add}" th:object="${product}" method="post" class="mb-4" sec:authorize="hasAuthority('SUPERVISOR')">
    <h2>Добавить продукт</h2>
    <div class="form-group">
      <label for="name">Имя</label>
      <input type="text" id="name" th:field="*{name}" class="form-control" required>
      <div th:if="${#fields.hasErrors('name')}" class="text-danger">
        <p th:errors="*{name}"></p>
      </div>
    </div>
    <div class="form-group">
      <label for="price">Цена</label>
      <input type="number" id="price" th:field="*{price}" class="form-control" required>
      <div th:if="${#fields.hasErrors('price')}" class="text-danger">
        <p th:errors="*{price}"></p>
      </div>
    </div>
    <div class="form-group">
      <label for="description">Описание</label>
      <input type="text" id="description" th:field="*{description}" class="form-control" alt="" required>
      <div th:if="${#fields.hasErrors('description')}" class="text-danger">
        <p th:errors="*{description}"></p>
      </div>
    </div>
    <div class="form-group">
      <label for="image">Изображение</label>
      <input type="text" id="image" th:field="*{image}" class="form-control" alt="" required>
      <div th:if="${#fields.hasErrors('image')}" class="text-danger">
        <p th:errors="*{image}"></p>
      </div>
    </div>
    <div class="form-group">
      <label for="quantity">Количество</label>
      <input type="number" id="quantity" th:field="*{quantity}" class="form-control" required>
      <div th:if="${#fields.hasErrors('quantity')}" class="text-danger">
        <p th:errors="*{quantity}"></p>
      </div>
    </div>
    <div class="form-group">
      <label for="dateOrder">Дата заказа</label>
      <input type="date" id="dateOrder" th:field="*{dateOrder}" class="form-control">
    </div>

    <!-- Категория -->
    <div class="form-group">
      <label for="category">Категория</label>
      <select id="category" th:field="*{category.id}" class="form-control">
        <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}"></option>
      </select>
    </div>

    <!-- Бренд -->
    <div class="form-group">
      <label for="brand">Бренд</label>
      <select id="brand" th:field="*{brand.id}" class="form-control">
        <option th:each="brand : ${brands}" th:value="${brand.id}" th:text="${brand.name}"></option>
      </select>
    </div>

    <!-- Поставщик -->
    <div class="form-group">
      <label for="supplier">Поставщик</label>
      <select id="supplier" th:field="*{supplier.id}" class="form-control">
        <option th:each="supplier : ${suppliers}" th:value="${supplier.id}" th:text="${supplier.name}"></option>
      </select>
    </div>

    <!-- Теги -->
    <div class="form-group">
      <label for="tags">Теги</label>
      <select id="tags" th:field="*{tags}" multiple class="form-control">
        <option th:each="tag : ${tags}" th:value="${tag.id}" th:text="${tag.name}"></option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary">Добавить продукт</button>
  </form>


  <!-- Форма для поиска продукта -->
  <form th:action="@{/products/search}" method="get" class="form-inline mb-4">
    <div class="form-group mx-sm-3 mb-2">
      <label for="searchName" class="sr-only">Имя продукта</label>
      <input type="text" name="name" id="searchName" class="form-control" placeholder="Введите имя продукта">
    </div>
    <button type="submit" class="btn btn-primary mb-2">Искать</button>
  </form>

  <!-- Секция для карточек продуктов -->
  <div class="row">
    <div class="col-md-4 mb-4" th:each="product : ${products}">
      <div class="card h-100">
        <img th:src="${product.image}" class="card-img-top" alt="Image of product" style="height: 250px; object-fit: cover;">
        <div class="card-body">
          <h5 class="card-title" th:text="${product.name}"></h5>
          <p class="card-text">
            <strong>Цена:</strong> <span th:text="${product.price}"></span> руб.<br>
            <strong>Количество:</strong> <span th:text="${product.quantity}"></span><br>
          </p>
        </div>
        <div class="card-footer d-flex justify-content-between">
          <a th:href="@{/products/details/{id}(id=${product.id})}" class="btn btn-info">Детали</a>
            <a th:href="@{/products/{id}(id=${product.id})}" class="btn btn-warning" sec:authorize="hasAuthority('SUPERVISOR')">Редактировать</a>
            <form sec:authorize="hasAuthority('SUPERVISOR')" th:action="@{/products/delete}" method="post" style="display:inline;">
              <input type="hidden" th:value="${product.id}" name="id"/>
              <button type="submit" class="btn btn-danger">Удалить</button>
            </form>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
